* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fff7f9;
    color: #444;
    scroll-behavior: smooth;
}

/* ===== HERO ===== */
.hero {
    height: 100vh;
    background: url('images/hero.jpg') center/cover no-repeat;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        rgba(255,182,193,0.55),
        rgba(0,0,0,0.55)
    );
}

.hero-content {
    position: relative;
    z-index: 2;
    height: 100%;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: #fff;
}

.hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
}

.hero h2 {
    margin-top: 8px;
    font-size: 2rem;
}

.birthday-date {
    margin-top: 6px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-shadow:
        1px 1px 3px rgba(0,0,0,0.7),
       -1px -1px 3px rgba(0,0,0,0.7);
}

.hero button {
    margin-top: 35px;
    padding: 14px 38px;
    border-radius: 30px;
    border: none;
    background: #fff;
    color: #d16c87;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

/* ===== SECTIONS ===== */
section {
    padding: 70px 20px;
    text-align: center;
}

h3 {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

/* COUNTDOWN */
.countdown {
    background: #ffe4ea;
}

#timer {
    font-size: 1.3rem;
    font-weight: 500;
}

/* LETTER */
.letter p {
    max-width: 600px;
    margin: auto;
    line-height: 1.9;
    font-size: 0.95rem;
}

/* GALLERY */
.photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.photos img {
    width: 100%;
    border-radius: 16px;
    transition: 0.4s;
}

.photos img:hover {
    transform: scale(1.05);
}

/* CLOSING */
.closing {
    background: #f7b6c8;
    color: white;
}

.closing h2 {
    font-size: 2rem;
}

/* ===== ANIMATION ===== */
.fade {
    opacity: 0;
    transform: translateY(25px);
    transition: 0.8s ease;
}

.fade.show {
    opacity: 1;
    transform: translateY(0);
}

/* ===== DESKTOP OPTIMIZATION ===== */
@media (min-width: 768px) {
    section {
        padding: 90px 15%;
    }

    .photos {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero h1 {
        font-size: 3rem;
    }
}

/* ===== LOVE FLOATING ===== */
.love-container {
    position: fixed;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 999;
}

.love {
    position: absolute;
    bottom: -20px;
    font-size: 20px;
    opacity: 0.8;
    animation: floatUp linear forwards;
}

@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0;
    }
    10% {
        opacity: 0.9;
    }
    100% {
        transform: translateY(-110vh) scale(1.4);
        opacity: 0;
    }
}
